.vscode
FederatedLearningESP32/build
FederatedLearningESP32/.devcontainer
FederatedLearningESP32/.vscode
FederatedLearningServer/.vscode
*/.build
FederatedLearningServer/FederatedLearningServer
FederatedLearningServer/modelos
FederatedLearningServer/resultados
FederatedLearningTeacherClient/FederatedLearningTeacherClient
log_run


